.greenClassMessage {
  font-size: 20px;
  color: green;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid green;
  border-radius: 5px;
}

.redClassMessage {
  font-size: 20px;
  color: red;
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 5px;
  border: 2px solid red;
  border-radius: 5px;
}
